@import '../reutilizables/formateo';
body{
        background-image: url(/Imagenes/fondo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        @include displayFlex(none, center, center);
}
        .contenedor
        {
                min-width: 400px;
                width: 80%;
                background-color: #ffffffec;
                @include displayFlex(row, center, center);
                padding: 10px 0px;

                .carrito
                {
                        width: 100%;
                        flex: 1 1;
                        margin: 10px 2rem;
                        display: flex;
                        flex-direction: column;
                        h1{text-align: center; width: 100%; font-size: 1.7rem; border-bottom: 1px solid black; padding-bottom: 7px;}        
                        .tabla
                        {
                                width: 100%;
                                margin-top: 20px;
                                border-collapse: separate;
                                border-spacing: 15px;
                                .encabezado_titulo
                                {
                                        .encabezado
                                        {
                                                color: #777777;
                                        }
                                }    
                                .cuerpo_detalles
                                {  
                                        .tr_cuerpo
                                        {
                                                .imagen
                                                {
                                                        display: flex;
                                                        align-items: center;
                                                        img{width: 80px;}
                                                        h3{font-size: 1rem;}
                                                }
                                                .cont_contador
                                                {
                                                        .contador
                                                        {
                                                                width: 30px;
                                                                height: 30px;
                                                                border-radius: 50%;
                                                                background: rgb(228, 228, 228);
                                                                border: 1px solid rgb(191, 191, 191);
                                                                box-shadow: 0px 0px 2px rgb(160, 160, 160);
                                                                font-weight: 800;
                                                                font-size: 100%;
                                                        }
                                                        .resultado
                                                        {
                                                                padding: 0 .1rem;
                                                                overflow: hidden;
                                                                font-size: 1.5rem;
                                                                color: black;
                                                        }
                                                }
                                        }
                                }
                        }
                }
                .total_pagar
                {
                       margin: 10px 2rem;  
                       h1{text-align: center; width: 100%; font-size: 1.7rem; border-bottom: 1px solid black; padding-bottom: 7px;}               
                }
        }

@media (max-width:1000px) {
                .contenedor
                {
                        display: flex;
                        flex-direction: column;   
                        margin-top: 40px;
                        .carrito
                        {
                                padding: 0 10px;  
                                .tabla
                                {
                                        border-spacing: 5px;
                                        .cuerpo_detalles
                                        {
                                                        .tr_cuerpo
                                                        {
                                                                .imagen
                                                                {
                                                                        img{width: 50px ;}
                                                                }
                                                        }
                                        }
                                }
                        }
                }
        }
        @media (max-width: 625px) {
                .contenedor
                {
                        display: flex;
                        flex-direction: column;   
                        // margin: 20% auto;
                        .carrito
                        {
                                // padding: 0 5px;  
                                .tabla
                                {
                                        border-spacing: 5px;
                                         .cuerpo_detalles
                                                {
                                                        .tr_cuerpo
                                                        {
                                                                .imagen
                                                                {
                                                                        img{width: 30px ;}
                                                                        h3{font-size: .8rem;}
                                                                }
                                                        }
                                                }
                                }   
                        }
                }     
        }