@import '../reutilizables/formateo';
body{
        background-image: url(/Imagenes/FondoImagen.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        @include displayFlex(none, center, center);
        overflow: hidden;
}
        .contenedor
        {
                min-width: 465px;
                width: 80%;
                background-color: #ffffff;
                @include displayFlex(row, center, start);
                padding: 10px 0px;
                .carrito
                {
                        width: 100%;
                        flex: 1 1;
                        margin: 10px 2rem;
                        display: flex;
                        flex-direction: column;
                        h1{text-align: center; width: 100%; font-size: 1.7rem; border-bottom: 1px solid black; padding-bottom: 7px;}        
                        .tabla
                        {
                                width: 100%;
                                margin-top: 20px;
                                border-collapse: separate;
                                border-spacing: 15px;
                                .encabezado_titulo
                                {
                                        .encabezado
                                        {
                                                color: #777777;
                                        }
                                }    
                                .cuerpo_detalles
                                {  
                                        .tr_cuerpo
                                        {
                                                .imagen
                                                {
                                                        display: flex;
                                                        align-items: center;
                                                        h3{font-size: 1rem;}
                                                }
                                                .cont_contador
                                                {
                                                        text-align: center;
                                                        .contador
                                                        {
                                                                width: 30px;
                                                                height: 30px;
                                                                border-radius: 50%;
                                                                background: rgb(228, 228, 228);
                                                                border: 1px solid rgb(191, 191, 191);
                                                                box-shadow: 0px 0px 2px rgb(160, 160, 160);
                                                                font-weight: 800;
                                                                font-size: 100%;
                                                        }
                                                        .resultado      
                                                        {
                                                                width: 30px;
                                                                text-align: center;
                                                                font-size: 1.5rem;
                                                                background: transparent;
                                                                color: black;
                                                        }
                                                }
                                        }
                                }
                        }
                }
                .total_pagar
                {
                       margin: 10px 2rem;         
                }
        }

        @media (max-width:1100px) {
                .contenedor
                {
                        display: flex;
                        flex-direction: column;   
                        .carrito
                        {
                                padding: 0 20px;  
                                .tabla
                                {
                                        border-spacing: 7px;
                                         .cuerpo_detalles
                                                {
                                                        tr
                                                        {
                                                                .imagen
                                                                {
                                                                        h3{font-size: 1rem; margin-right: 10px; margin-left: -20px;}
                                                                }
                                                        }
                                                }
                                }   
                        }
                }     
        }